<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportUser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ImportUser.Properties.Settings>
            <setting name="dbConnectionString" serializeAs="String">
                <value>Server=.;Database=IAAP;Trusted_Connection=True;</value>
            </setting>
            <setting name="lastRunLog" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="NameColumn" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="csaOpGroupColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="csaLobColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="csaCorpAreaColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="csaJurisdictionColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="csaRowToStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="createEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="csaEmailColumn" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="csaSubOpGroupColumn" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="stopAtError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opsRiskOpGroupColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="opsRiskLobColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="opsRiskCorpAreaColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="opsRiskJurisdictionColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="opsRiskEmailColumn" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="opsRiskRowToStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="opsRiskSubOpGroupColumn" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="govOpGroupColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="govLobColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="govCorpAreaColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="govJurisdictionColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="govEmailColumn" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="govRowToStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="govSubOpGroupColumn" serializeAs="String">
                <value>5</value>
            </setting>
        </ImportUser.Properties.Settings>
    </applicationSettings>
</configuration>