<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportUser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ImportUser.Properties.Settings>
            <setting name="dbConnectionString" serializeAs="String">
                <value>Server=.;Database=IAAP;Trusted_Connection=True;</value>
            </setting>
            <setting name="lastRunLog" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="nameColumn" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="opGroupColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lobColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="corpAreaColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="jurisdictionColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="rowToStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="createEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emailColumn" serializeAs="String">
                <value>9</value>
            </setting>
        </ImportUser.Properties.Settings>
    </applicationSettings>
</configuration>